@{
    ViewData["Title"] = "Sign Up";
}

@model List<AppointmentResponse>


<link href="~/css/site.css" rel="stylesheet" />


<br />
<br />
<br />
<br />





<center><h2>Book your appointments</h2></center>
<br />
<br />
<br />
<br />

<center>
    <div>
        @if (Model?.Count() > 0)
        {
            @if (Model.Any(i => i.Time == "8"))
            {
                <a class="btn btn-outline-secondary" disabled> 8 AM </a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="8"> 8 AM </a>
            }
            @if (Model.Any(i => i.Time == "9"))
            {
                <a class="btn btn-outline-secondary" disabled> 9 AM </a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="9"> 9 AM </a>
            }
            @if (Model.Any(i => i.Time == "10"))
            {
                <a class="btn btn-outline-secondary" disabled> 10 AM </a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="10"> 10 AM </a>
            }
            @if (Model.Any(i => i.Time == "11"))
            {
                <a class="btn btn-outline-secondary" disabled> 11 AM </a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="11"> 11 AM </a>
            }
            @if (Model.Any(i => i.Time == "12"))
            {
                <a class="btn btn-outline-secondary" disabled> 12 PM </a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="12"> 12 PM </a>
            }
            @if (Model.Any(i => i.Time == "13"))
            {
                <a class="btn btn-outline-secondary" disabled> 1 PM </a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="13"> 1 PM </a>
            }
            @if (Model.Any(i => i.Time == "14"))
            {
                <a class="btn btn-outline-secondary" disabled> 2 PM </a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="14"> 2 PM </a>
            }
            @if (Model.Any(i => i.Time == "15"))
            {
                <a class="btn btn-outline-secondary" disabled> 3 PM </a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="15"> 3 PM </a>
            }
            @if (Model.Any(i => i.Time == "16"))
            {
                <a class="btn btn-outline-secondary" disabled> 4 PM </a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="16"> 4 PM </a>
            }
            @if (Model.Any(i => i.Time == "17"))
            {
                <a class="btn btn-outline-secondary" disabled> 5 PM </a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="17"> 5 PM </a>
            }
            @if (Model.Any(i => i.Time == "18"))
            {
                <a class="btn btn-outline-secondary" disabled> 6 PM </a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="18"> 6 PM </a>
            }
            @if (Model.Any(i => i.Time == "19"))
            {
                <a class="btn btn-outline-secondary" disabled> 7 PM </a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="19"> 7 PM </a>
            }
            @if (Model.Any(i => i.Time == "20"))
            {
                <a class="btn btn-outline-secondary" disabled> 8 PM </a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="20"> 8 PM </a>
            }
        }
        else
        {
            <a class="btn success" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="8"> 8 AM </a>
            <a class="btn success" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="9"> 9 AM </a>
            <a class="btn success" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="10"> 10 AM </a>
            <a class="btn success" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="11"> 11 AM </a>
            <a class="btn success" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="12"> 12 PM </a>
            <a class="btn success" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="13"> 1 PM </a>
            <a class="btn success" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="14"> 2 PM </a>
            <a class="btn success" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="15"> 3 PM </a>
            <a class="btn success" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="16"> 4 PM </a>
            <a class="btn success" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="17"> 5 PM </a>
            <a class="btn success" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="18"> 6 PM </a>
            <a class="btn success" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="19"> 7 PM </a>
            <a class="btn success" asp-action="Form" asp-route-CurrentDate="@ViewBag.CurrentDate" asp-route-time="20"> 8 PM </a>
        }

    </div>
</center>
<br />
<br />
<center>
    <div class="date">
        @if (ViewBag.Disable)
        {
            <a class="btn btn-primary disabled"> Previous </a>
        }
        else
        {
            <a class="btn btn-danger" asp-controller="Home" asp-action="PreviousDate" asp-route-CurrentDate="@ViewBag.CurrentDate">Previous</a>
        }
        <button class="btn btn-secondary">@ViewBag.CurrentDate</button>
        <a class="btn btn-primary" asp-controller="Home" asp-action="NextDate" asp-route-CurrentDate="@ViewBag.CurrentDate">Next</a>
    </div>

</center>